main {
    background-color: #123B4C;
}

h1 {
    color: #fff;
    text-align: center;
}

.frizz-buzz {
    padding: 2rem;
    background-color: #ED456E;
}

.frizz {
    padding: 2rem;
    background-color: #61D7A2;
}

.buzz {
    padding: 2rem;
    background-color: #FAD166;
}

.number {
    padding: 2rem;
    background-color: #348AB2;
}