.fizzbuzz-web-app {
    max-height: 100vh;
}

main {
    background-color: #123B4C;
}

h1 {
    color: #fff;
    text-align: center;
}

.frizz-buzz {
    background-color: #ED456E;
    font-size: 0.8rem;

}

.frizz {
    background-color: #61D7A2;  
    font-size: 0.8rem;

}

.buzz {
    background-color: #FAD166;
    font-size: 0.8rem; 

}

.number {
    background-color: #348AB2;

}

.frizz-buzz,
.frizz,
.buzz,
.number {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}
